 {{#each posts as |post|}}
<div class="card">
    <div class="box-header">
        <h3>{{post.title}}</h3>
        <h5>Date{{format_date post.updatedAt}}</h5>
    </div>
    <div class="card-body">
        <p>{{post.text}}</p>
        <div>
            <button value="{{post.id}}" class="btn btn primary delete button">Delete</button>
            <a href="/revise/{{post.id}}" class="btn bnt primary revise button">revise</a>
        </div>
    </div>
</div>
{{#each post.comments as |comment|}}
<div class="card">
    <div class="box-header">
        <h5>
            {{comment.user.name}}
        </h5>
        <h5>
            Date:{{format_date post.updateAt}}
        </h5>
    </div>
    <div class="card-body">
        <p>{{comment.comment_reply}}</p>
    </div>
</div>
{{/each}}
{{/each}}

<script src="../public/js/deletepost.js"></script>