{{#each posts as |post| }}
  <div class="card">
      <div class="header-card"> 
          <h2>{{post.title}}</h2>
          <h5 class="date">Date:{{ format_date post.updatedAt}}</h5>
  </div>
  <div class="card-body">
      <p>{{post.text}}</p>
      <div>
          <button value="{{post.id}}" class="btn btn-primary btn-lg">Delete post</button>
          <a href="/update/{{post.id}}" class="btn btn-primary btn-lg">Update post</a>
      </div>
  </div>
  </div>
  {{#each post.comments as |comment|}}
   <div class="card"> 
       <div class="header-card">
           <h5>{{comment.user.name}}</h5>
           <h5 class="date">Date: {{format_date post.updatedAt}}</h5>
       </div>
       <div class="card-body">
           <p>{{comment.comment_text}}</p>
       </div>
   </div>
   {{/each}}
   {{/each}}

   <script src="/js/delete.js"></script>